# /frontend/.env.example
# These environment variables are safe to expose to the browser.
NEXT_PUBLIC_API_ENDPOINT=https://api.example.com
NEXT_PUBLIC_ANALYTICS_ID=your_public_analytics_key
NEXT_PUBLIC_SITE_NAME=your_site_name
NEXT_PUBLIC_SITE_DESCRIPTION=your_site_description
NEXT_PUBLIC_SITE_URL=https://example.com
NEXT_PUBLIC_SITE_IMAGE=https://example.com/image.png
NEXT_PUBLIC_SITE_IMAGE_ALT=your_site_image_alt
NEXT_PUBLIC_SITE_IMAGE_WIDTH=1200